#tab-container {
    background-color: rgb(165, 165, 165);
}

.tab-button {
    background-color: rgb(165, 165, 165);
    color: rgba(36, 36, 36, 255);
}

.tab-button.active {
    background-color: rgb(203, 203, 203);
}

.tab-button.not-active:hover:enabled {
    background-color: rgb(176, 176, 176);
}
